{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <header><h1>.:MODIFICACION DEL PROVEEDOR</h1></header>
        {{ form_start(edit_form) }}
        <div class="jumbotron">
            <div class="row">                      
                <div class="form-group">
                    
                        {{ form_widget(edit_form) }}
                    
                </div>
            </div>
    </div>
    <div class="modal-footer">
            <input type="submit" value="Guardar" class="btn btn-primary" /> | 
            <a href="{{ path('proveedor_index') }}" class="btn btn-default">Volver atras</a>
    </div>
    {{ form_end(edit_form) }}
</div>
{% endblock %}
