{% extends "::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <style>
      header.container-fluid{
        background-image: url({{asset('public/images/almacen1.jpg')}});
        background-position: 50% 0%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        color: white;
      }
    </style>
{% endblock %}
{% block body %}
    <header class="container-fluid">
        {# para mostrar el mensaje de que se borro el dato #}
        
        xxx<span class="alert-warning" >
                clave md5 = {{md5}}
            </span>
        {% for codigo in md5 %}
            
        {% endfor%}
        
    </header>
{% endblock %}