{% extends "::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}    
{% endblock %}
{% block body %}
    <!-- Modal -->

    <form class="form-signin" method="post" action="{{ path('seguridad_cliente') }}" >
        <div class="form-group">
            <label  class="sr-only">Nombre del cliente</label>
            <input  id="nombreusuario" name="nombreusuario" class="form-control" placeholder="Nombre del cliente"   >
        </div>
        <div class="form-group">
            <label  class="sr-only">Login</label>
            <input  id="login" name="login" class="form-control" placeholder="Login"   >
        </div>
        <div class="form-group">
            <label  class="sr-only">Clave</label>
            <input  id="clave1" name="clave1" class="form-control" type="password" placeholder="Clave del usuario"   >
        </div>
        <div class="form-group">
            <label  class="sr-only">Repita la clave</label>
            <input  id="clave2" name="clave2" class="form-control" type="password" placeholder="Repita la clave del usuario"   >
        </div>
        <div class="form-group">
            <label  class="sr-only">Rif</label>
            <input  id="rif" name="rif" class="form-control" placeholder="Rif"   >
        </div>
        <div class="form-group">
            <label  class="sr-only">Direccion</label>
            <input  id="direccion" name="direccion" class="form-control" placeholder="Direccion"   >
        </div>
        <div class="form-group">
            <label  class="sr-only">Contacto</label>
            <input  id="contacto" name="contacto" class="form-control" placeholder="Contacto"   >                                        
        </div>
        <div class="form-group">
            <label  class="sr-only">Telefono</label>
            <input  id="telefono" name="telefono" class="form-control" placeholder="telefono"   >                                        
        </div>
        <div class="form-group">
            <label  class="sr-only">Ruta</label>
            <select name="idruta" id="idruta" class="form-control">
                <option value="N/A">Seleccione</option>
                <option value=1>Ruta Generica</option>
            </select>                                        
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button  class="btn btn-success" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span>Guardar</button>
        </div>
    </form>

{% endblock %}